<ul class="list">
  <li *ngFor="let treeNode of treeNodes">
    <span>{{ treeNode.expanded ? ' - ' : ' + ' }}</span>
    <span class="tree-node" (click)="treeNode.toggle()">{{ treeNode.name }}</span>&nbsp;
    <a class="action" (click)="editCategory(treeNode)">edit</a>&nbsp;
    <a class="action" (click)="deleteCategory(treeNode.id)">delete</a>
    <div *ngIf="treeNode.expanded">
      <app-questions-tree [treeNodes]="treeNode.treeNodes" (actions)="action($event)"></app-questions-tree>
      <ul class="list">
        <li *ngFor="let question of treeNode.questions">
          Name: {{ question.name }} (difficulty {{ question.difficulty }})
          <a class="action" (click)="editQuestion(question)">edit</a>&nbsp;
          <a class="action" (click)="deleteQuestion(question.id)">delete</a><br>
          Question: {{ question.text }}<br>
          Answer: {{ question.answer }}<br><br>
        </li>
      </ul>
    </div>
  </li>
</ul>